%section-bg{
    background-color: $color-primary;
    min-height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:$lg){
        &{
            flex-direction: column-reverse;
        }
    }
}

%row{
    .row{
        display: flex;
        .wrapper{
            width: 40%;
            padding: 50px 0;
            @media screen and (max-width:$lg){
                &{
                    width: 100%;
                }
            }
        }
        &.col-pos-right{
            justify-content: flex-start;
        }
        &.col-pos-left{
            justify-content: flex-end;
        }
        @media screen and (max-width:$lg){
            &{
                width: 100%;
                padding: 30px 0;
            }
            .sub-heading{
                margin-bottom: 30px;
            }
        }
    }
}

.section-bg{
    @extend %section-bg;
    @extend %row;
    img,iframe{
        position: absolute;
        top: 0;
        &.bg-img-working{
            right: 0;
        }
        &.bg-img-hiring{
            left: 0;
        }
        height: 100%;
        width: 50%;
        object-fit: cover;
        @media screen and (max-width:$lg){    
            &{
                position: initial;
                width: 100%;
            }
        }
    }
    iframe{
        right: 0;
        min-height: 700px;
    }
}
