%btn{
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.19px;
    color: $color-white;
    padding: 10px 46px;
    border: none;
    background-color: $color-red;
    border-radius: 25px;
    &:hover{
        cursor: pointer;
    }
}

form{
    position: relative;
    *{
        display: block;
    }
    input{
        background-color: transparent;
        border: 2px solid $color-white;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 100%;
        padding: 25px 0 10px;
        margin-bottom: 16px;
        color:$color-white;
        &::placeholder{
            font-size: 15px;
            line-height: 26px;
            letter-spacing: 0.5px;
            color: $color-white;
            font-family: "Proxima Nova";
        }
        &:focus{
            outline: none;
        }
    }
    textarea{
        background-color: transparent;
        border: 2px solid $color-white;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 100%;
        color:$color-white;
        resize: vertical;
        max-height: 320px;
        min-height: 120px;
        padding-bottom: 70px;
        @media screen and (max-width:$xl) {
            min-height: 175px;
        }
        &::placeholder{
            font-size: 15px;
            line-height: 26px;
            letter-spacing: 0.5px;
            color: $color-white;
            font-family: "Proxima Nova";
        }
        &:focus{
            outline: none;
        }
    }
    button{
        @extend %btn;
        position: absolute;
        right: 0;
        bottom: 15px;    
    }
}